.App {
  text-align: center;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

#weatherBox {
  width: 300px;
  height: 300px;
}
.hell-scape {
  background-color: red;
}
.fair {
  background-color: orange;
}
.freezing {
  background-color: aqua;
}